<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="https://source.unsplash.com/random?id=012" alt="sem conexão com a internet">
    <img src="https://source.unsplash.com/random?id=201" alt="sem conexão com a internet">
    <img src="https://source.unsplash.com/random?id=120" alt="sem conexão com a internet">
    <img src="https://source.unsplash.com/random?id=230" alt="sem conexão com a internet">
    <img src="https://source.unsplash.com/random?id=023" alt="sem conexão com a internet">
    <img src="https://source.unsplash.com/random?id=302" alt="sem conexão com a internet">
    <img src="https://source.unsplash.com/random?id=340" alt="sem conexão com a internet">
    <img src="https://source.unsplash.com/random?id=034" alt="sem conexão com a internet">
    <img src="https://source.unsplash.com/random?id=403" alt="sem conexão com a internet">
</body>
</html>