<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="position">
        <div class="boxPosition box1"></div>
        <div class="boxPosition box2"></div>
        <div class="boxPosition box3"></div>
    </div>

    <div class="flex">
        <div class="boxFlex blue"></div>
        <div class="boxFlex black"></div>
        <div class="boxFlex green"></div>
    </div>

    <div class="grid">
        <header class="boxGrid yellow">título</header>
        <main class="boxGrid orange">conteúdo</main>
        <aside class="boxGrid brown">infos adicionais</aside>
        <footer class="boxGrid pink">rodapé</footer>
    </div>
        
    
    
</body>
</html>