<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">About</a></li>
        </ul>
    </nav>
    <div>Page: <%= typeof page != 'undefined' ? page: 'Home'%></div>
    <h1>Aprendendo EJS</h1>
</header>