<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <style>
    body{
        background-color: rgb(168, 255, 212)
    }
</style>
<body>
    <%- include('../partials/header', {page: 'About'})%>
    <main>
        <h3>Sobre o curso de EJS</h3>
        <p>
            Parace que me enganei.
            EJS parece mais com um Flask,
            um organizador de páginas web.
            Interessante. 
        </p>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>